#contact_area{
    border: 0px solid #666666;
    width: 96%;
    margin: 0 auto;
}
#contact_area h2{
    margin: 0;
    padding: 7px 0;
    border-left: 5px solid #244791;
    background-color: #6699cc;
    font-weight: bold;
    text-shadow: 2px 2px 3px #111111;
    color: #fff;
    font-size: 1.4em;
    text-indent: 5px;
}
#contact_area dl{
    border-top: 1px solid #999999;
    border-left: 1px solid #999999;
    border-right: 1px solid #999999;
    margin: 10px 20px;
    padding: 0;
}
#contact_area dt{width: 200px;float: left;padding: 10px;}
#contact_area dd{
    border-left: 1px dotted #000000;
    overflow: auto;
    padding: 10px 10px 10px 30px;
}

#contact_info{
    border: 0px solid #666666;
    text-align: left;
    margin: 0 0 80px 0;
}
#contact_info div{border-bottom: 1px solid #999999;}
#contact_info h3{margin: 0;}
#contact_info dt h3{padding-top: 10px;}
#contact_info dd h3{font-size: 3em;padding: 0;}
#contact_info a{text-decoration: none;color: #333333;}
#contact_info a:hover{text-decoration: underline;}

#contact_form{
    border: 0px solid #666666;
    text-align: left;
    
}

#contact_form form{width: 96%;margin: 10px auto;}

.contact_input_line{
    border-top: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    padding: 10px;
    background-color: #F2F2F2;
}
.contact_input_line span{font-size: 12px;}

.contact_input_title1, .contact_input_point1, .contact_input_point2{padding: 10px;overflow: auto;}

.contact_input_title1{
    border: 0px solid #666666;
    float: left;
    width: 250px;
    background-color: #EAEAEA;
    font-weight: bold;
}

.Required{ /*--必須--*/
    border: 0px solid #666666;
    margin-top: 2px;
    padding: 0px 5px 0 5px;
    float: right;
    display: block;
    background-color: #ff6699;
    color: #fff;
    
    
    border-radius: 3px;  
    -webkit-border-radius: 3px;  
    -moz-border-radius: 3px;  

}

.contact_input_point1{
    border: 0px solid #666666;
}
.contact_input_point1 input, .contact_input_point2 input, .contact_input_point1 textarea{font-size: 1.2em;}
.contact_input_point1 input{width: 500px;}
.contact_input_point1 select{width: 200px;}
.contact_input_point1 textarea{width: 500px;height: 200px;}
.contact_input_point2 input{width: 200px;}

#contact_button_area{margin-top: 50px;text-align: center;}


